h1{
  color: #CEDF6C;
  text-align: center;
  font-family: Gill Sans, sans-serif;
}
h2 {
 color: #1A4876;
 font-family: Gill Sans, sans-serif;
}
ul{
 color: #BBC89C;
 font-family: Gill Sans, sans-serif;
 font-size: 30px;
}
